<!doctype html>
<html lang="en">
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("https://webgradients.com/public/webgradients_png/008%20Rainy%20Ashville.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>


<div class="bg"></div>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Movie Recommender!</title>
  </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Navbar</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/train">Retrain my AI!</a>
      </li>
    </ul>
  </div>
  </nav>

<div class="container-fluid">
  <div class="row no-gutter">
      <div class="col-md-6 mt-md-0 mt-3">
      <img width="200" height="300" src="https://www.joblo.com/assets/images/oldsite/posters/images/full/Black-Panther-poster-main-xl.jpg" class="rounded float-left" alt="black panther">
      </div>
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-1 col-lg-5 bg-image"></div>
    <div class="col-md-12 col-lg-12">
      <div class="login d-flex align-items-center py-4">
        <div class="container">
          <div class="row">
            <div class="col-sm-23 col-sm-15 mx-auto">
              <h3 class="login-heading mb-4">Welcome to the movie recommender!</h3>
                    <form action='/recommender'>
                      <div class='form-group'>
                          <label class="control-label">First movie</label>
                          <input class="form-control" name='Movie1' autocomplete='off' placeholder='Enter Movie Title'>
                      </div>
                      <select multiple class="form-control" name="Rating1" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                      <div class='form-group'>
                        <label class="control-label">Second movie</label>
                          <input class="form-control" name='Movie2' autocomplete='off' placeholder='Enter Movie Title'>
                      </div>
                      <select multiple class="form-control" name="Rating2" id="exampleFormControlSelect2">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                         <div class='form-group'>
                           <label class="control-label">Third movie</label>
                          <input class="form-control" name='Movie3' autocomplete='off' placeholder='Enter Movie Title'>
                      </div>
                      <select multiple class="form-control" name="Rating3" id="exampleFormControlSelect3">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                  </div>
                <input class="btn btn-primary btn-block btn-login text-uppercase mb-2 mt-3" type="submit" value="Get Recommendations!">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


</div>
<footer class="page-footer font-small bg-dark text-light">
  <div class="container-fluid text-center text-md-left">
  <div class="footer-copyright text-center py-3">© 2019 Copyright: Helena's Movie Recommender
  </div>
</div>
</footer>



